html {
  font-size: $font-size;
  font-family: $font-family;
  color: $font-color;
  line-height: 1.4;
  background: $background-color;
  overflow: hidden;
}

body{
  margin: 0;
}

.hideCursor{
  cursor: none;
}