@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter.ttf");
}

#root {
  display: none;
}

#canvas {
  top: 0;
  left: 0;
  margin: auto;
}

.hideCursor {
  cursor: none;
}

.hideCanvas {
  display: none;
}

.title {
  font-size: 84px;
}

.startButton {
  cursor: pointer;
  font-size: 48px;
  color: rgb(0, 255, 0);
  text-shadow: 1px 1px 2px red, 0 0 3em blue, 0 0 0.4em blue;

  &:hover {
    color: rgb(0, 82, 54);
  }
}

.menuImage {
  position: absolute;
  margin: auto;
  margin-top: -350px;
  margin-left: -180px;
  width: 237px;
  height: 800px;
  z-index: -1;
}

.gameOverText {
  margin: auto;
  margin-top: 150px;
  font-size: 96px;
  color: rgb(255, 0, 170);
  text-align: center;
}

.menuButton {
  margin: auto;
  cursor: pointer;
  margin-top: 50px;
  width: 215px;
  height: 55px;
  font-size: 36px;
  font-family: "Rakkas", cursive;
  border: none;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3);

  &:hover {
    background: rgba(0, 255, 0, 0.8);
  }
}

.highscoresWindow{
  background: #7bed9f;
  color:#000;
  height: 320px;
  width:550px;
  margin:auto;
  border-radius:15px;
 display: flex;
 flex-direction: column;
 margin-top: 35px;

 p{
   font-size:26px;
 }

  input{
    height: 25px;
    width: 220px;
    margin-inline: auto;
    font-size:19px;
    font-family: "Rakkas", cursive;

    &::placeholder{
      font-size:19px;
      font-family: "Rakkas", cursive;
      text-align: center;
    }
    &:focus{
      font-size:19px;
      font-family: "Rakkas", cursive;
      border: 1px solid rgb(30, 4, 175);
    }
  }

  button{
    width:125px;
    height: 45px;
    margin-top: 25px;
    font-size: 24px;
    border-radius: 4.5px;
    border:none;
    background: #70a1ff;
    margin-inline: auto;
    cursor: pointer;
    &:hover{
      background: #2f3542;
      color:#fff;
      transition: 0.6s ease-out;
    }
  }
}

.highscoresUl{
  
  list-style: none;
  width:550px;
  margin:auto;
  border-radius: 10px;
  margin-top:25px;
  padding: 0;
  border-radius: 40px;

  li {
    margin-block: 5px;
    font-size:23px;
    background: rgba(43, 0, 35, 0.89);
    border-radius: 10px;

    &:first-of-type{
      background: #000;
      border-radius: 8.5px;
    }
    &:nth-of-type(2){
      color:#ffe44e;
    }
    &:nth-of-type(3){
      color:#b9b8b8;
    }
    &:nth-of-type(4){
      color:#d87253;
    }
  }
}

.badName{
  background: red;
}

@import "variables";
@import "scaffolding";
