@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter.ttf');
}

#root{
  display: none;
}

#canvas{
  /*width: 99vw;
  height: 99vh;*/
  
  top:0;
  left:0;
  margin: auto;
  cursor: none;
}

@import 'variables';
@import 'scaffolding';
